@import url("https://fonts.cdnfonts.com/css/futura-md-bt");
@import url("https://fonts.cdnfonts.com/css/proxima-nova-2");
/* 
----------------------
Variables
----------------------
*/
:root {
  font-family: "Futura Md BT", sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --clr-primary: #083f46;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  color: #fff;
}
input {
  border: none;
}
button,
a {
  border: none;
  background: none;
  font-size: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
button:hover {
  cursor: pointer;
}
a:hover {
  cursor: pointer;
}
input::placeholder {
  color: var(--clr-primary);
  opacity: 0.9;
  border: none;
}
input:focus {
  outline: none;
}
/* 
==============
Login Page
==============
*/
.login-page-container {
  background: url(/twc-bg.png);
  min-height: 100vh;
}
#twc-logo {
  position: absolute;
  left: 940px;
  top: 30vh;
}
#twc-logo svg {
  width: 166px;
}
#twc-logo section {
  color: var(--clr-primary);
  font-size: 80px;
  line-height: 5rem;
}
#twc-logo section p {
  font-weight: 500;
  min-height: 300px;
}
#twc-logo section p span {
  font-weight: 800;
}
.circular-segment {
  position: absolute;
  width: 1502px;
  height: 1502px;
  left: -633px;
  top: -378px;
  border-radius: 55%;
  background-color: var(--clr-primary);
}

.login-page-body {
  position: absolute;
  left: 122px;
  top: 140px;
}
.head {
  width: 300px;
}
.head p {
  font-size: 35px;
  font-weight: 400;
  line-height: 40px;
}
.head p span {
  font-weight: 700;
  font-size: 50px;
  line-height: 73px;
}

.login {
  margin: 2.5rem 0;
  margin-left: 0;
}
.login input,
.register input {
  display: block;
  padding: 0.8rem 1.8rem;
  border-radius: 50px;
  width: 477px;
  margin: 1.5rem 0;
  color: var(--clr-primary);
  font-family: "Futura Md BT", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.login-btn,
.login-btn button,
.register-btn,
.register-btn button {
  color: #fff;
  font-weight: 400;
  font-size: 23px;
}
.login-btn {
  margin-top: 4rem;
}
.register-btn {
  margin-top: 2rem;
}
#login-btn,
#register-btn {
  padding: 0.4rem 1.7rem;
  border-radius: 50px;
  border: 2px solid #fff;
  margin-right: 1rem;
}
#register-text,
#login-text {
  margin-left: 1rem;
  text-decoration: underline;
}
/* register */
.register {
  margin: 3rem 0;
}
.register-page-body {
  position: absolute;
  left: 122px;
  top: 70px;
}
.register-page-body .head {
  width: 400px;
}

#login-text {
  margin-top: 3rem;
  margin-left: 0%;
}
.error-text {
  color: rgb(251, 121, 78);
  text-align: center;
}
/* 
==================
Shared Layout
==================
*/
.shared-layout {
  background: url(/twc-bg.png);
  height: 100vh;
}
.ellipse {
  position: absolute;
  width: 1763.23px;
  height: 1107.47px;
  left: -125px;
  top: -215px;

  background: #083f46;
  transform: rotate(25.63deg);
  border-radius: 50%;
}

.twc-logo-2 {
  position: absolute;
  left: 222px;
  top: 50px;
  display: grid;
  grid-template-columns: 20px 30px;
  text-align: center;
}
.twc-logo-2 svg {
  width: 20px;
  height: 30px;
}
.twc-logo-2 span {
  width: 30px;
  height: 24px;
  font-size: larger;
  font-family: "Proxima Nova", sans-serif;
  font-weight: bold;
}
.shared-layout p {
  position: absolute;
  left: 222px;
  top: 75px;
  min-height: 15vh;

  font-size: 30px;
  font-weight: light;
  line-height: 1.8rem;
}
.shared-layout p span {
  font-weight: bold;
}
.logout {
  position: absolute;
  right: 140px;
  top: 650px;
  display: inline-flex;
}
#logout-icon a svg {
  width: 38px;
}
#logout-btn a {
  text-decoration: underline;
  font-size: 22px;
  margin-left: 1rem;
}
/* 
============
Welcome
============
*/
.welcome-page-body {
  position: absolute;
  left: 222px;
  top: 240px;
}
.welcome-page-body p {
  font-size: 35px;
  font-weight: 400;
  line-height: 55px;
  width: 950px;
}
.welcome-page-body p span {
  font-size: 50px;
  font-weight: 700;
  line-height: 73px;
}
#add-contact-btn,
#add-contact-btn2,
#add-contact-btn3 {
  margin-top: 3rem;
  padding: 0.45rem 2rem;
  border-radius: 50px;
  border: 2px solid #fff;

  font-size: 20px;
  font-weight: 300;
}

/* 
===================
new contact page
===================
*/
.new-contact-body {
  position: absolute;
  left: 222px;
  top: 150px;
}
.new-contact-body p {
  font-size: 35px;
  font-weight: 400;
  line-height: 55px;
  width: 950px;
}
.new-contact-body p span {
  font-size: 50px;
  font-weight: 700;
  line-height: 73px;
}
.add-contact {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}
.add-contact input {
  margin: 1rem 4rem;
  margin-left: 0;
  padding: 0.8rem 1.8rem;
  border-radius: 50px;

  color: var(--clr-primary);
  font-family: "Futura Md BT", sans-serif;
  font-weight: 500;
  font-size: 20px;
  min-width: 477px;
}
.radio {
  position: absolute;
  top: 227px;
  left: 670px;
  display: inline;
  font-size: 20px;
}

input[type="radio"] {
  margin: 0 1rem;
  appearance: none;
  padding: 5px;
  background-color: none;
  border: 1px solid #fff;
  border-radius: 50%;
}
input[type="radio"]:checked {
  background-color: #fff;
}
#male {
  margin-left: 6rem;
}
#female {
  margin-left: 6rem;
}
#add-contact-btn2 {
  margin-top: -3rem;
}
.viewContacts-btn {
  position: absolute;
  top: 230px;
  right: 70px;
}
.viewContacts-btn a {
  text-decoration: underline;
  font-size: 18px;
}
#form-err {
  margin-left: 20px;
  font-size: 15px;
}
#radio-err {
  margin-left: 10px;
  font-size: 15px;
}
/* 
===============
contacts page
===============
*/
.contacts-page {
  position: absolute;
  left: 222px;
  top: 170px;
}
.contacts-page p {
  font-size: 35px;
  font-weight: 400;
  line-height: 55px;
  width: 950px;
}
.contacts-page p span {
  font-size: 50px;
  font-weight: 700;
  line-height: 73px;
}
#add-contact-btn3 {
  position: absolute;
  left: 875px;
  top: -28px;
}

.contacts-list {
  background-color: white;
  color: var(--clr-primary);
  width: 1100px;
  border-radius: 1rem;
  margin-top: 1rem;
}

.list-head {
  display: grid;
  grid-template-columns: 0.5fr 1.3fr 0.8fr 1.3fr 1fr 0.7fr;
  text-align: center;
  padding: 1rem 0;
}
.list-head div {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}
/* 
=============
single-contact
=============
*/
.single-contact {
  display: grid;
  grid-template-columns: 0.5fr 1.3fr 0.8fr 1.3fr 1fr 0.7fr;
  padding: 0.5rem 0.2rem;
  text-align: center;
}
.single-contact section {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.avatar svg {
  width: 50px;
  height: 50px;
}

.contact-name,
.contact-gender,
.contact-email,
.contact-phone,
.contact-icon {
  padding-top: 0.65rem;
}
.contact-name,
.contact-gender {
  text-transform: capitalize;
}
.contact-icon svg {
  width: 27px;
  padding: 0 0.2rem;
  margin-right: 0.9rem;
}

.contact-gender {
  position: relative;
}
.contact-gender svg {
  position: absolute;
  left: 1rem;
  width: 25px;
  height: 25px;
}

.single-contact section input {
  font-family: "Futura Md BT", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  color: var(--clr-primary);
  border-right: 2px solid #083f46;
  text-align: center;
  margin: 0;
  padding: 0.3rem 0.8rem;
  background-color: #0b545e2d;
}
.contact-name-edit,
.contact-gender-edit,
.contact-email-edit,
.contact-phone-edit {
  margin-top: 0.65rem;
}

.contact-phone-edit {
  height: fit-content;
  border-right: 2px solid #083f46;
}
.contact-gender-edit {
  position: relative;
}
.gender-switch svg {
  width: 26px;
  height: 26px;
  margin-left: 25px;
}
.gender-switch svg:hover {
  cursor: pointer;
}
.gender-switch {
  display: flex;
  position: absolute;
  top: 3px;
  left: 20px;
}
#save-btn {
  font-size: 16px;
  border-radius: 2rem;
  color: #fff;
  background-color: var(--clr-primary);
  padding: 0.4rem 1.4rem;
}
/* 
======
modal
======
*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(7px);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #fff;
  color: #083f46;
  text-align: center;
  padding: 3rem 3rem;
  padding-bottom: 1.5rem;
  border-radius: 2rem;

  width: 600px;
}
.btn-container {
  margin: 1rem 0;
}
.btn-container2 {
  margin: 1rem 0;
}
.btn-container2 button {
  margin: 0 1rem;
  width: 100px;
  padding: 0.6rem 1.5rem;
  border-radius: 2rem;
  color: #083f46;
  border: 2px solid #083f46;
  font-size: 17px;
  font-weight: 600;
}
.btn-container2 button:hover {
  color: #fff;
  background-color: #083f46;
}
.message {
  font-size: 23px;
  font-weight: 500;
}
.modal-btn {
  color: #fff;
  background-color: var(--clr-primary);
  padding: 0.6rem 1.5rem;
  border-radius: 2rem;
}
/* 
=============
media-screen
=============
*/
@media screen and (width< 900px) {
  .circular-segment {
    width: 1021px;
    height: 1021px;
    left: -350px;
    top: -140px;
  }
  .ellipse {
    width: 1463.23px;
    height: 807.47px;
    left: -255px;
    top: 18px;
  }

  .logout {
    visibility: hidden;
    right: 0px;
  }
  #logout-icon {
    visibility: visible;
  }
  .twc-logo-2,
  .shared-layout p,
  .welcome-page-body,
  .new-contact-body {
    left: 122px;
  }
  .contacts-page {
    left: 18px;
  }
  .welcome-page-body p {
    width: 600px;
  }
  .new-contact-body {
    top: 170px;
  }
  .add-contact {
    grid-template-columns: 1fr;
    max-width: 477px;
    margin: 1rem 0;
  }
  .radio {
    top: 345px;
    left: 20px;
  }
  #add-contact-btn2 {
    margin-top: 3.5rem;
  }
  .list-head {
    grid-template-columns: 0.4fr 1fr 0.8fr 0.8fr 1fr 0.5fr;
  }
  #add-contact-btn3 {
    left: 510px;
  }
  .contacts-list {
    width: 735px;
  }
  .single-contact {
    grid-template-columns: 0.4fr 1fr 0.8fr 0.8fr 1fr 0.5fr;
  }
  .viewContacts-btn {
    top: 420px;
    right: 475px;
  }
  .contact-name,
  .contact-gender,
  .contact-email,
  .contact-phone,
  .contact-icon {
    padding-top: 0rem;
  }
  .contact-icon svg {
    margin-right: 0.6rem;
  }
}
